goapp=`which goapp 2>&1`
if [[ ! "${?}" = "0" ]]; then
  echo "Need to install `goapp` to execute this script."
  exit 127
fi
GOAPPROOT="`dirname $goapp`/goroot"

export GOROOT="${GOAPPROOT}"
export GOPATH="$PWD/../go"
export GOBIN="${GOPATH}/bin"

#set GOAPPROOT (dirname (which goapp))/goroot
#set -x GOROOT $GOAPPROOT
#set -x GOPATH (pwd)
#set -x GOBIN $GOPATH/bin
